img {
	height: 50px;
	width: 50px;
	margin-right: 1vw;
}

#logo-container {
	width: 17vw;
	margin: 0% 10vw;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-top: 1vh;
}

h2{
	font-size: 36px;
	font-family: 'Inter';
	color: white;
}